/********************/
/*  GENERAL */
/********************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    /*background-color: #708bf7;*/
    background: rgb(112,139,247);
    background: -moz-linear-gradient(142deg, rgba(112,139,247,1) 0%, rgba(94,125,246,1) 50%, rgba(76,110,245,1) 100%);
    background: -webkit-linear-gradient(142deg, rgba(112,139,247,1) 0%, rgba(94,125,246,1) 50%, rgba(76,110,245,1) 100%);
    background: linear-gradient(142deg, rgba(112,139,247,1) 0%, rgba(94,125,246,1) 50%, rgba(76,110,245,1) 100%);
    height: 100vh;
}

.disabled {
    display: none !important;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/********************/
/*  START SECTION */
/********************/

.section--start {
    height: 100vh;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    max-width: 55rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3.4rem;
}

.player-pick {
    background-color: #2e4293;
    padding: 2.4rem;
    width: 100%;
    border-radius: 10px;
    align-self: start;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.player-pick--heading {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    color: #c9d4fc;
}

.player-pick--picker {
    background-color: #0f1631;
    position: relative;
    display: flex;
    padding: 1.4rem;
    border-radius: 10px;
}

.player-pick--picker input[type="radio"] {
    appearance: none;
    outline: none;
    padding: 5rem;
    width: 50%;
    height: 100%;
    background-image: url("img/icon-o-gray.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
}

.player-pick--picker input[type="radio"]:checked {
    /*box-shadow: inset 0 0 0 3px #fff;*/
    background-color: #c9d4fc;
    border-radius: 5px;
    background-image: url("img/icon-o-transparent.svg");
}

.player-pick--picker input[type="radio"]:nth-child(2) {
    background-image: url("img/icon-x-gray.svg");
}

.player-pick--picker input[type="radio"]:nth-child(2):checked {
    background-image: url("img/icon-x-transparent.svg");
}

.player-pick--btn {
    font-family: inherit;
    text-transform: uppercase;
    padding: 1.4rem;
    width: 75%;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: #efedff;
    color: #0f1631;
    transition: all 0.4s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.player-pick--btn:hover {
    background-color: rgba(15, 22, 49, 0.5);
    color: #dbe2fd;
}

.player-pick--btn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    background-color: rgba(15, 22, 49, 100);
}